.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-wrapper {
  position: relative; /* Så vi kan placera ikoner absolut inuti */
  width: 64px; /* Bestäm en fast storlek för wrappern */
  height: 64px;
  cursor: pointer;
}

.cart-icon {
  position: absolute;
  top: -15px;
  left: -15px;
}

.cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
}

.union-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
