.receipt-box {
  background-color: #eeeeee;
  padding: 1.5rem;
  padding-bottom: 0rem;
  border-radius: 6px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 7rem;
}

.receipt-title {
  font-size: 1.4rem;
  margin-bottom: 0rem;
  text-transform: uppercase;
}

.receipt-id {
  font-weight: bold;
  color: #605858;
}

.receipt-items {
  list-style: none;
  padding: 0;
}

.receipt-item-row {
  margin-bottom: 0.5rem;
}

.item-quantity,
.moms-text {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.receipt-total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3531313d;
  margin: 1.5rem -1.5rem -0.9rem -1.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.left-total-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.total-label {
  font-size: 1rem;
  font-weight: bold;
}

.moms-text {
  font-size: 0.75rem;
  color: #333;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.receipt-total-price {
  font-size: 1.5rem;
  font-weight: bold;
}
