.cart-box {
  background-color: #f2f2f2; /* Ex. ljus bakgrund */
  padding: 1rem;
  border-radius: 6px;
  margin-top: 1rem;
}

.cart-total-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #cfcfcf;
  padding: 1rem 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
