.page-container {
  width: 390px;
  background: #8ed8bf;
  margin: 0 auto; /* centrera */
  padding: 1rem;
  box-sizing: border-box;
}

.page-container.palm {
  background-image: url("/src/assets/mmm 1.jpg");
  background-blend-mode: multiply;
}

.page-container.gray {
  background-color: #cfcfcf;
}

.page-container.order {
  background-color: #605858;
}
