.checkout-button {
  width: 110%;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1rem;
  margin: 0rem 0rem -1rem -1rem;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.checkout-button:hover {
  background-color: #555;
}
